#container{
    width: 1000px;
    margin: 2px auto 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin: 2px;
}

#navbar ul li{
    display: inline-block;
    margin: 2px auto;
}
